.apps-container {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 50px;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-store-logo {
    margin-top: 30px;
}

.app-link {
    text-decoration: none;
    color: white;
}

.app-link:hover {
    color: #2cd9b9;
}